@font-face {
  font-family: Segoe;
  src: url(./Fonts/segoeui.ttf);
}

@font-face {
  font-family: SegoeBold;
  src: url(./Fonts/segoeuib.ttf);
}

* {
  background-color: #050013;
  color: #ffff;
  font-family: Segoe;
}

body {
  background-color: #050013;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header b {
  font-size: 44px;
  color: #ffffff;
  font-family: SegoeBold;
}

#badge {
  font-size: 15px;
  font-family: Segoe;
}

.cardCon1,
.cardCon2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  border: 0.856688px solid rgb(44, 43, 43);
  border-radius: 13.707px;
  width: 25rem;
  background-color: #050013;
}

.card-text {
  color: #9b96b0;
}

.card-title {
  color: #ffffff;
}

.card:hover {
  border: 5px solid rgb(44, 43, 43);
  border-radius: 13.707px;
}
